.Confirm {
  position: absolute;
  inset: 0;
  color: white;
  background-color: var(--red);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  button {
    font-size: 4rem;
    border: none;
    background-color: transparent;

    &:active {
      text-shadow: 1px 1px 1px black;
    }
  }

  .btn-yes {
    color: seashell;
    font-size: 1.5rem;
  }
}
