.Game {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .multiplication {
    font-size: 5rem;
    color: orangered;
  }

  .table {
    color: green;
  }

  .question {
    font-size: 3rem;
    text-align: center;
  }
}
