.Game {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--red);

  .multiplication {
    font-size: 6rem;
  }

  .selected {
    color: green;
  }

  .random-number {
    display: inline-block;
  }
}
