.Win {
  h1 {
    font-size: 3.5rem;
  }

  .time {
    font-size: 2.5rem;
    margin: 10px 0;
    color: var(--cyan);
  }

  .Stars {
    margin-bottom: 30px;

    .StarIcon {
      width: 40px;
      filter: drop-shadow(3px 3px 1px rgb(0 0 0 / 50%));
    }
  }
}
