.Modal {
  position: fixed;
  inset: 0;

  display: grid;
  place-items: center;

  background-color: rgba($color: #000, $alpha: 50%);
  z-index: 2;

  .container {
    width: 85vw;
    max-width: 600px;

    height: 70svh;
    max-height: 600px;
    border: solid 5px palegreen;
    border-radius: 10px;

    background-color: khaki;
    box-shadow: 5px 5px 0 black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  h1 {
    text-align: center;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    button {
      background-color: transparent;
      border: none;
      font-size: 3.5rem;
    }

    .btn-retry {
      color: palegreen;
      padding: 4px 10px;
      transform: skew(-10deg);

      &:active {
        text-shadow: 1px 1px 0 black;
      }
    }

    .btn-quit {
      color: var(--bg-color);

      &:active {
        text-shadow: 1px 1px 0 black;
      }
    }
  }
}
