.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .SettingsIcon {
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 36px;
  }
}
