.BalloonNumber {
  position: relative;

  background-color: transparent;
  border: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 14vw;
  max-width: 150px;
  margin-bottom: 10px;

  .balloon {
    width: 100%;
    filter: drop-shadow(3px 3px 1px black);
  }

  .solution {
    position: absolute;
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: orange;
    display: grid;
    place-items: center;
  }
}
