.StartBtn {
  font-size: 2rem;
  letter-spacing: 2px;
  background-color: palegreen;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 1px black;

  &:active {
    text-shadow: 1px 1px 0 black;
    box-shadow: 1px 1px 0 black;
  }
}
