.NextBtn {
  font-size: 2.5rem;
  color: var(--yellow);
  border-radius: 4px;
  padding: 4px 10px;
  transform: skew(-10deg);
  background-color: seashell;
  border: none;
  box-shadow: 3px 3px 0 black;

  .next-number {
    color: var(--green);
  }

  .arrow {
    color: var(--red);
    display: inline-block;
    margin-right: 8px;
  }
}
