:root {
  --bg-color: #77dd77;
  --bg-color2:#316932;
  --text-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
  background: linear-gradient(to bottom, var(--bg-color) 00%, var(--bg-color2) 100%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
