@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.3s;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-pulse {
  0% {
    transform: scale(1);
    text-shadow: 0 0 0 black;
  }

  50% {
    transform: scale(1.5);
    text-shadow: 10px 10px 0 black;
  }

  100% {
    transform: scale(1);
    text-shadow: 3px 3px 0 black;
  }
}

.scale {
  animation: scale 0.3s;
}

.scale-pulse {
  animation: scale-pulse 0.5s;
}

@keyframes rotate15 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate30 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.rotate15 {
  display: inline-block;
  animation: rotate15 2s ease-in-out infinite;
}

.rotate30 {
  display: inline-block;
  animation: rotate30 2s ease-in-out infinite;
}

@keyframes float-up {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(calc(-100svh + 75%));
  }
}

@keyframes left-right {
  0% {
    translate: 0;
  }

  50% {
    translate: 5px;
  }

  100% {
    translate: 0;
  }
}

.left-right {
  animation: left-right 1s ease-in-out infinite;
}

@keyframes blur {
  to {
    backdrop-filter: blur(3px);
  }
}

.blur {
  animation: blur 0.5s forwards;
}

/* Balloons Animation */
@keyframes zigzag0 {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(15px);
  }

  60% {
    transform: translateX(-15px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes zigzag1 {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(10px, 15px);
  }

  40% {
    transform: translate(-10px, 10px);
  }

  60% {
    transform: translate(5px, -10px);
  }

  80% {
    transform: translate(-5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes zigzag2 {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-5px, -20px);
  }

  40% {
    transform: translate(5px, -10px);
  }

  60% {
    transform: translate(-5px, 0);
  }

  80% {
    transform: translate(5px, -20px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes zigzag3 {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(5px, 0);
  }

  40% {
    transform: translate(-5px, -5px);
  }

  60% {
    transform: translate(5px, -5px);
  }

  80% {
    transform: translate(-5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes zigzag4 {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-15px, -25px);
  }

  40% {
    transform: translate(15px, 0);
  }

  60% {
    transform: translate(0, -5px);
  }

  80% {
    transform: translate(-5px, -10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes zigzag5 {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-10px, 20px);
  }

  40% {
    transform: translate(10px, 10px);
  }

  60% {
    transform: translate(-5px, -15px);
  }

  80% {
    transform: translate(5px, 7px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.zigzag0 {
  animation: zigzag0 10s infinite;
}

.zigzag5 {
  animation: zigzag0 14s infinite;
}

.zigzag1 {
  animation: zigzag1 11s infinite;
}

.zigzag8 {
  animation: zigzag1 15s infinite;
}

.zigzag6 {
  animation: zigzag2 12s infinite;
}

.zigzag2 {
  animation: zigzag2 16s infinite;
}

.zigzag3 {
  animation: zigzag3 9s infinite;
}

.zigzag7 {
  animation: zigzag3 14s infinite;
}

.zigzag9 {
  animation: zigzag4 17s infinite;
}

.zigzag4 {
  animation: zigzag4 20s infinite;
}

.zigzag10 {
  animation: zigzag5 18s infinite;
}
