@import 'https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap';

@font-face {
  font-family: Vlump;
  src: url('@assets/fonts/Vlump.woff2') format('woff2');
}

@font-face {
  font-family: Mario;
  src: url('@assets/fonts/Mario.otf') format('opentype');
}

@font-face {
  font-family: Doodle;
  src: url('@assets/fonts/Doodle.woff2') format('woff2');
}

@font-face {
  font-family: Coffee;
  src: url('@assets/fonts/Coffee.otf') format('opentype');
}
