@forward 'root';
@forward 'animations';
@forward 'fonts';

* {
  box-sizing: border-box;
}

body {
  background: url('@assets/background.webp') center;
  background-size: cover;
  color: var(--text-color);
  font-family: var(--font-mario);
  text-shadow: 3px 3px 0 black;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  margin: 0;
  text-rendering: optimizelegibility;
  user-select: none;

  /* Prevent blue square on div click */
  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: var(--font-mario);
  text-shadow: 3px 3px 0 black;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s;

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(1);
  }
}
