.Settings {
  .container {
    position: relative;
  }

  .btn-close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 5px;

    .CloseIcon {
      width: 36px;
    }
  }

  .label {
    font-size: 2rem;
  }

  .select {
    background-color: transparent;
    border: none;
    font-family: var(--font-mario);
    color: var(--red);
    font-size: 2rem;
    text-shadow: 3px 3px 0 black;
    margin-left: 8px;

    option:checked {
      color: var(--green);
    }
  }

  .clear-btn {
    color: var(--red);
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    text-shadow: 3px 3px 0 black;
    letter-spacing: 2px;
  }

  .github-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--yellow);
    font-size: 2rem;
    text-shadow: 1px 1px 1px black;

    .GithubIcon {
      width: 50px;
    }
  }
}
