.RotateDevice {
  display: none;
  position: fixed;
  inset: 0;
  background: url('@assets/icons/rotate.svg') no-repeat center;
  background-color: var(--bg-color);
  background-size: 100px;

  @media screen and (orientation: landscape) and (width <= 768px) {
    display: block;
  }
}
